a.btn>span.glyphicon {
	margin-top: 4px;
}
div.date-space {
	width:92px;
}
th {
	text-align: center;
}
li.project_display {
	height: 37px;
	line-height: 39px;
}
li.project_display:hover {
	background-color: #f5f5f5;
}
li.project_display>a.btn {
	margin-left: 12px;
	margin-top: 3px;
}
.profile-img {
	max-width: 350px;
	margin-left: auto;
    margin-right: auto;
}
.profile-form {
	padding-top: 15px;
}
.profile-img:hover {
	cursor: pointer;
}
.profile-name-link {
	text-decoration: none;
	color: #333;
}
.profile-name-link:hover {
	text-decoration: none;
	color: #333;
}
.profile-name {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	display: inline;
	padding-left: 7px;
}
#profile-name {
	text-align: center;
	display: table;
	max-width: 729px;
	margin-left: auto;
    margin-right: auto;
    padding: 1px 10px 0px 10px;
	margin-bottom: 10px;
	border: 2px solid white;
}
#profile-name:hover {
	border: 2px solid rgb(142, 142, 142);
    border-radius: 20px;
}
.divider {
	border-right: 2px solid rgb(142, 142, 142);
	padding: 21px 0px 10px 6px;
	display: none;
}
.profile-name-form {
	display: none;
}
.profile-name-input {
	width: 30%;
	display: inline-block;
}
.profile-name-submit {
	display: inline-block;
}
.profile-name-label {
	width: 100%;
	text-align: left;
}
.drop-zone {
	height: 92%;
	border: 5px lightblue;
	border-style: dashed;
	border-radius: 20px;
	margin: 20px 20px 20px 20px;
	display: flex;
	justify-content: center;
	align-items:center;
}
.modal-dialog {
	height: 80%;
	padding-top: 10%;
}
.modal-content.modal-lg {
	height: 80%
}
.dz-message {
	text-align: center;
	font-weight: bold;
	font-size:30px;
	line-height:60px;
	color: rgb(67, 163, 192);
}
.dz-preview {
	height: 100%;
	width: 100%;	
}
div.modal-content>form.drop-zone>div.dz-preview>div.dz-image, div.modal-content>form.drop-zone>div.dz-preview>div.dz-image>img {
	height: 100%;
	width: 100%;
}
div.modal-content>form.drop-zone>div.dz-preview.dz-error{
	display: none;
}
.fa-pencil-square-o {
	display:none;
}
p {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px
}